<section  class="py-4 sm:py-8">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-4 sm:gap-6">
            <h2 class="text-2xl font-medium tracking-tight sm:text-3xl lg:text-4xl">Tarif d'une passation de test: <strong>70 €</strong>.</h2>
            <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-lg sm:text-xl">
                Durée: 45 minutes. Non remboursé la sécurité sociale.
              </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto text sm:text-md">
                <strong>RAPPEL</strong> : Ces tests ont pour visée, une première évaluation, permettant une vue d'ensemble de votre état de santé. <strong>Il ne s'agit pas d'un accompagnement psychologique</strong>. 
                Cela peut vous permettre de <strong>mettre des mots sur votre mal-être et d'avoir un retour d'un professionnel de santé</strong>. Pour pouvoir mettre en place par la suite un accompagnement si besoin ou vous orienter vers d'autres professionnels.  
              </p>
        </div>
      </div>
</section>